{% extends "base.html" %}

{% load static %}

{% block title %} Contact {% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
<link rel="stylesheet" href="{% static 'css/404_page.css' %}">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock head %}

{% block main %}
<section id="not-found" class="not-found content-section">
    <div class="maintain">
        <img src="{% static 'img/page-not-found.webp' %}" alt="Page not found 404, Back to Home, NyaySarathi ">
    </div>
    <div class="back-home">
        <a class="home-link" href="/">Back to Home</a>
    </div>
</section>


{% endblock main %}

{% block script %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock script %}